@font-face {
  font-family: "Syne";
  src: url(./assets/fonts/Syne-VariableFont_wght.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  font-family: "Syne";
}